.description {
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
}
.btn{
    background-color: rgb(10, 47, 80);
    color: white;
    font-weight: bolder;
    padding: 5px;
    font-size: 1rem;
}
.img {
    box-shadow: 0px 10px 17px rgba(255, 255, 255, 0.3); 
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: black;
    overflow: hidden;
  }
