.university{
    font-size: 1.1rem;
    font-family: 'mono-bold';
}

.degree, .period{
    font-size: 1rem;
}

span{
    font-size: 0.85rem;
}

.education:hover{
    background: linear-gradient(45deg, #000000 0%, #222222 100%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* Borde 3D */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra */
    overflow: hidden;
}