@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'mono';
    src: url('~assets/fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: 'mono-bold';
    src: url('~assets/fonts/SpaceMono-Bold.ttf');
}
